@charset "utf-8";
/* CSS Document */
.finales
{
	text-align:center;
	color:#009;
	background:#FC0;
	font-size:50px;
     font-family:"Times New Roman" 

}

div.Fondo
{
width:700px;
height:500px;
background: url(Imagenes/Tortuga.jpg) repeat;
border:2px solid black;
}

div.Caja
{
width:400px;
height:300px;
margin: 100px 100px;
border:1px solid black;
background-color:#FFFFFF;
opacity:0.5;
}

div.Caja p
{
margin:30px 40px;
font-weight:bold;
color:#000000;
}
